<ul class="breadcrumbs">
  <li>
    <a href="/">
      <i class="fas fa-home"></i> BREAD
    </a>
  </li>
  <li>
    <a href="/category">
      <i class="fas fa-th-large"></i> Categories
    </a>
  </li>
  <li>
    <a href="/category/electronics">
      <i class="fas fa-tv"></i> Electronics
    </a>
  </li>
  <li>
    <a href="/category/electronics/phones">
      <i class="fas fa-mobile-alt"></i> Mobile Phones
    </a>
  </li>
  <li>
    <span>
      <i class="fas fa-phone"></i> BREADCRUMBS!!!
    </span>
  </li>
</ul>
